  @import url('https://fonts.googleapis.com/css2?family=cinzel:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

    h1 {
    font-family: 'Cinzel', serif;
    }
    
    h2,
    h3 {
    font-family: 'Cinzel', serif;
    background-color: #5F6B56;
    color: #F8F7F4;
    padding: 10px 18px;
    display: inline-block;

    }
   header {
       background-color: #2B3A2F;
       color: #ffffff;
       padding: 20px;
   }
  header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    font-family: 'Lato', sans-serif;
    color: #ddd4d4;
}
main {
    padding: 30px;
}
   body {
    background-color: #F8F7F4;
    color: #2B3A2F;
    font-family: 'Lato', sans-serif;
}
img {
    width: 100%;
    max-width: 300px;
    height: auto;
}
   a.catalogo {
     background-color: #B87B5C;
    color: #F8F7F4;
    padding: 10px 18px;
    text-decoration: none;
   }

   article {
    display: flex;
    flex-direction: column;
}